<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteisle.mapper.FoldersMapper">

    <resultMap id="BaseResultMap" type="com.liteisle.common.domain.Folders">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="parentId" column="parent_id" />
            <result property="folderName" column="folder_name" />
            <result property="folderType" column="folder_type" />
            <result property="sortedOrder" column="sorted_order" />
            <result property="deleteTime" column="delete_time" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,parent_id,folder_name,folder_type,sorted_order,
        delete_time,create_time,update_time
    </sql>
    <select id="selectFoldersWithFilteredFileCount" resultType="com.liteisle.common.domain.Folders">
        SELECT
            f.*,
            (SELECT COUNT(*)
             FROM files file
             WHERE file.folder_id = f.id
               AND file.user_id = #{userId}
               AND file.file_name LIKE CONCAT('%', #{content}, '%')
               AND file.delete_time IS NULL
            ) AS documentCount
        FROM folders f
        WHERE
            f.user_id = #{userId}
          AND f.folder_type = 'notebook'
          AND (#{content} IS NULL OR f.folder_name LIKE CONCAT('%', #{content}, '%'))
          AND f.delete_time IS NULL
        ORDER BY f.sorted_order ASC
    </select>
    <select id="selectFoldersWithTotalFileCount" resultType="com.liteisle.common.domain.Folders">
        SELECT
            f.*,
            COUNT(file.id) AS documentCount  -- 直接统计所有文件
        FROM folders f
                 LEFT JOIN files file
                           ON f.id = file.folder_id
                               AND file.user_id = #{userId}
                               AND file.delete_time IS NULL
        WHERE
            f.user_id = #{userId}
          AND f.folder_type = 'notebook'
          AND f.delete_time IS NULL
        GROUP BY f.id
        ORDER BY f.sorted_order ASC
    </select>

</mapper>
