<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liteisle.mapper.ShareLinksMapper">

    <resultMap id="BaseResultMap" type="com.liteisle.common.domain.ShareLinks">
            <id property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="shareToken" column="share_token" />
            <result property="sharePassword" column="share_password" />
            <result property="fileId" column="file_id" />
            <result property="folderId" column="folder_id" />
            <result property="expireTime" column="expire_time" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,share_token,share_password,file_id,folder_id,
        expire_time,create_time,update_time
    </sql>
</mapper>
